{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Bot de Telegram</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>
<body>
	<h1>Mensajes en el sistema</h1>
	<div id = "mensajes">
		<table class="table table-hover">
			<thead>
				<tr>
					<th> ID Mensaje </th>
					<th> Update ID </th>
					<th> Texto enviado </th>
					<th> Usuario </th>
				</tr>
			</thead>
		{% for mensaje in mensajes %}
			<tbody>
				<tr>
					<td>{{mensaje.id_mensaje}} </td>
					<td>{{mensaje.update_id}} </td>
					<td>{{mensaje.texto_enviado}} </td>
					<td>
						<a href ="{% url 'BotTelegram:usuarios' mensaje.usuario.pk %}">{{mensaje.usuario.nombreusuario}} </a>
					</td>
				</tr>
			</tbody>
		{% endfor%}
		</table>	
	</div>
</body>
</html>