{% extends "base.html"%}
{% load tz %}

{% block contenido%}
    <table class="table table-hover">
    	<thead>
    		<tr>
    			<th> ID Mensaje </th>
                <th> Fecha </th>
                <th> ID Usuario </th>
                <th> Imagen enviada </th>
    			<!--<th> Update ID </th>
    			<th> Texto enviado </th>-->
    		</tr>
    	</thead>
    {% for mensaje in mensajes %}
    	<tbody>
    		<tr>
    			<td>{{mensaje.pk}} </td>
                <td>{{mensaje.fecha}} </td>
    			<td>
    				<a href ="{% url 'BotTelegram:usuarios' mensaje.usuario_t.pk %}" target="_blank">{{mensaje.usuario_t.pk}}({{mensaje.usuario_t.nombreusuario}}) </a>
    			</td>
                <td>
                    <a href="{% url 'BotTelegram:imagen' mensaje.imagen_enviada_id %}" target="_blank">{{mensaje.imagen_enviada.textobuscado}} </a>
                </td>
    			<!--<td>{{mensaje.update_id}} </td>
                <td>{{mensaje.texto_enviado}} </td>-->
    		</tr>
    	</tbody>
    {% endfor%}
    </table>	
{% endblock %}