{% extends "base.html"%}
{% load tz %}

{% block contenido%}
    <table class="table table-hover">
    	<thead>
    		<tr>
    			<th> ID Mensaje </th>
    			<th> Update ID </th>
    			<th> Texto enviado </th>
                <th> Fecha </th>
                <th> ID Usuario </th>
    		</tr>
    	</thead>
    {% for mensaje in mensajes %}
    	<tbody>
    		<tr>
    			<td>{{mensaje.id_mensaje}} </td>
    			<td>{{mensaje.update_id}} </td>
                <td>{{mensaje.texto_enviado}} </td>
                <td>{{mensaje.fecha}} </td>
    			<td>
    				<a href ="{% url 'BotTelegram:usuarios' mensaje.usuario.pk %}">{{mensaje.usuario.pk}} </a>
    			</td>
    		</tr>
    	</tbody>
    {% endfor%}
    </table>	
{% endblock %}