{% extends "base.html"%}

{% block contenido%}


	<label>
        Objetivo Naturaleza: <input type="text"/>
    </label>

    <div>
        <label>
            Naturaleza mejor: <input type="text">
        </label>
    </div>
    <div>
        <label>
            Nivel mejor: <input type="text">
        </label>
    </div>
    <div>
        <label>
            Ataque mejor: <input type="text">
        </label>
    </div>
    <div>
        <label>
            Defensa mejor: <input type="text">
        </label>
    </div>
    <div>
        <label>
            Ataque Especial mejor: <input type="text">
        </label>
    </div>
    <div>
        <label>
            Defensa Especial mejor: <input type="text">
        </label>
    </div>
    <div>
        <label>
            Velocidad mejor: <input type="text">
        </label>
    </div>
    <div>
        <label>
            HP mejor: <input type="text">
        </label>
    </div>
{% endblock %}

