{% extends "base.html"%}

{% block contenido%}

	<table class="table table-hover">
		<tr>
			<th> Nickname </th>
			<th> Nombre </th>
			<th> Apellido </th>
			<th> ID </th>
			<th> Total mensajes enviados</th>
		<tr>
			<td>{{usuario.nombreusuario}} </td>
			<td>{{usuario.nombre}} </td>
			<td>{{usuario.apellido}} </td>
			<td>{{usuario.pk}} </td>
			<td><a href = '{% url 'BotTelegram:usuarios' usuario.pk %}'} >{{total_ms_en}} </a></td>
		</tr>
	</table>	

	<table class="table table-hover">
		<thead>
			<tr>
				<th> ID Mensaje </th>
				<th> Update ID </th>
				<th> Texto enviado </th>
			</tr>
		</thead>
	{% for mensaje in mensajes %}
		<tbody>
			<tr>
				<td>{{mensaje.id_mensaje}} </td>
				<td>{{mensaje.update_id}} </td>
				<td>{{mensaje.texto_enviado}} </td>
			</tr>
		</tbody>
	{% endfor%}
	</table>	

	<hr>
	<form class="form-inline" action ='{% url 'BotTelegram:usuarios' usuario.pk %}'} method = "POST">
      {% csrf_token %}

	  <div class="form-group">
	    <label for="mensaje">Mensaje a enviar</label>
	    <textarea class="form-control" rows="3" id="mensaje" name="mensaje" placeholder="Mensaje a enviar"></textarea>
	  </div>
	  <button type="submit" class="btn btn-default">Enviar mensaje</button>
	</form>
{% endblock %}

