<!DOCTYPE html>
<html>
<head>
	<title>Bot de Telegram</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<table class="table table-hover">
		<tr>
			<th> Nickname </th>
			<th> Nombre </th>
			<th> Apellido </th>
			<th> Total mensajes enviados</th>
		<tr>
			<td>{{usuario.nombreusuario}} </td>
			<td>{{usuario.nombre}} </td>
			<td>{{usuario.apellido}} </td>
			<td><a href = '{% url 'BotTelegram:usuarios' usuario.pk %}'} >{{total_ms_en}} </a></td>
		</tr>
	</table>	

	<div id = "mensajes">
		<table class="table table-hover">
			<thead>
				<tr>
					<th> ID Mensaje </th>
					<th> Update ID </th>
					<th> Texto enviado </th>
				</tr>
			</thead>
		{% for mensaje in mensajes %}
			<tbody>
				<tr>
					<td>{{mensaje.id_mensaje}} </td>
					<td>{{mensaje.update_id}} </td>
					<td>{{mensaje.texto_enviado}} </td>
				</tr>
			</tbody>
		{% endfor%}
		</table>	
	</div>
</body>
</html>