{% extends "base.html"%}

{% block contenido%}

	<table class="table table-hover">
		<thead>
			<tr>
				<th> Nickname </th>
				<th> Nombre </th>
				<th> Apellido </th>
				<th> ID </th>
				<th> Suscrito?</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{usuario.nombreusuario}} </td>
				<td>{{usuario.nombre}} </td>
				<td>{{usuario.apellido}} </td>
				<td>{{usuario.pk}} </td>
				<td>
                    {% if usuario.is_suscrito_actu %}
				        Si
                    {% else %}
                        No
				    {% endif %}
                </td>
			</tr>
		</tbody>
	</table>	

    {% if usuario.imagen_actual %}
        <span>Última respuesta enviada</span>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> Fecha </th>
                    <th> Imagen </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{usuario.fecha_ultima_respuesta}} </td>
                    <td><a href="{% url 'BotTelegram:imagen' usuario.imagen_actual %}">{{usuario.imagen_actual.textobuscado}} </a> </td>
                </tr>
            </tbody>
        </table>
    {% endif %}

	<hr>
	<form class="form-inline" action ='{% url 'BotTelegram:usuarios' usuario.pk %}'} method = "POST">
      {% csrf_token %}

	  <div class="form-group">
	    <label for="mensaje">Mensaje a enviar</label>
	    <textarea class="form-control" rows="3" id="mensaje" name="mensaje" placeholder="Mensaje a enviar"></textarea>
	  </div>
	  <button type="submit" class="btn btn-default">Enviar mensaje</button>
	</form>
{% endblock %}

