{% extends "base.html"%}

{% block contenido%}

	<table class="table table-hover">
		<thead>
			<tr>
				<th> URL </th>
				<th> Usa certificado? </th>
				<th> Número de actualziaciones pendientes </th>
				<th> Fecha último error </th>
				<th> Ultimo mensaje con error</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{webhook.url}} </td>
				<td>{{webhook.has_custom_certificate}} </td>
				<td>{{webhook.pending_update_count}} </td>
				<td>{{webhook.last_error_date}} </td>
				<td>{{webhook.last_error_message}} </td>
			</tr>
		</tbody>
	</table>	

{% endblock %}

